.login-page {
    position: fixed;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.login-container {
    display: flex;
    flex-direction: column;

    min-height: 20vh;
    min-width: 20vw;
    background-color: #1d1e22;
    border-radius: 1rem;
    padding: 0 12px;
}

.log-in-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.login-icon {
    margin-top: 1rem;
    margin-left: 1rem;

    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.log-in-button {
    transition: all 0.3s ease-in-out;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.3rem;
    white-space: nowrap;

    background-color: #1d1e22;
    color: #d68249;
    border: 1px solid #d6814999;
    border-radius: 10px;

    margin: auto;
}
.log-in-button.active,
.log-in-button:hover {
    background-color: #d68249;
    color: white;
    font-weight: 700;
}

.hidden {
    display: none;
}
