.main-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #25262b;
    color: #fff;
    padding: 24px 10rem 20px 10rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
}

.footer-column {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

.footer-title {
    font-weight: 800;
}

.social-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-footer {
    display: block;
    text-align: center;
    margin-top: 1rem;
}
svg {
    display: block;
    overflow: visible;
}

@media (max-width: 768px) {
    .main-footer {
        transition: all 0.3s ease-in-out;
        padding: 24px 1rem 20px 1rem;
    }
    .footer-column {
        align-items: center;
    }
    .footer-title {
        font-size: 1.2rem;
    }
    .footer-top {
        flex-direction: column;
    }
    .footer-top .column-container {
        flex-direction: column;
    }
    .footer-top .column-container .footer-column {
        align-items: center;
    }
    .footer-top .column-container .footer-column .social-list {
        justify-content: center;
    }
    .footer-top .column-container .footer-column .social-list li {
        margin: 0;
    }
    .footer-top .column-container .footer-column .social-list li a {
        font-size: 1.5rem;
    }
}
