.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1e22;
    color: inherit;
    padding-top: 24px;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 20px;
    gap: 1rem;
    position: sticky;
    top: 0;
    transition: padding 0.1s ease;
}
.right {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.nav.scrolled {
    transition: padding 0.1s ease;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav .site-title {
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0.5rem 0.75rem;
    font-weight: 600;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.269);
    user-select: none;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    font-weight: 700;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.2rem;
    white-space: nowrap;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav a,
.nav li {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.nav a:hover,
.nav a.active {
    background-color: #1d1e22;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.269);
}

#log-in-button {
    background-color: #1d1e22;
    color: #d68249;
    border: 1px solid #d6814999;
}
.nav a#log-in-button.active,
.nav a#log-in-button:hover {
    background-color: #d68249;
    color: white;
    font-weight: 700;
}

.nav .menu {
    display: none;
    padding: 0.4rem 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: #1d1e22;
}
.nav .menu-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.menu-close {
    display: none;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 18px;
        transition: all 0.3s ease-in-out;
    }
    .nav > .site-title {
        font-size: 1.7rem;
    }
    .nav ul {
        display: flex;
        align-items: center;
        width: 100vw;
        flex-direction: column;
        gap: 0.5rem;
    }
    .nav.scrolled {
        transition: padding 0.1s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .nav li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav a:not(.site-title) {
        width: 100%;
        border: none;
        margin: 0.2rem 0.5rem;
    }
    .nav a:not(.site-title).active,
    .nav a:not(.site-title):hover {
        background-color: #2b2c31;
        box-shadow: none;
        transform: translateY(-0.1em);
    }

    .nav .menu {
        display: flex;
    }
    .nav .menu-close {
        display: flex;
        margin-bottom: 2rem;
    }
    .nav .right {
        position: fixed;
        right: 0;
        top: 0;
        height: 0;
        width: 0;
        background-color: transparent;
        padding-bottom: 1rem;
    }

    .nav .right.open {
        height: 100vh;
        width: 100vw;
        background-color: #1d1e22;
    }
}
